---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: object-detection-rest
  labels:
    app: object-detection-rest
    app.kubernetes.io/part-of: object-detection
    app.openshift.io/runtime: python
spec:
  selector:
    matchLabels:
      app: object-detection-rest
  template:
    metadata:
      labels:
        app: object-detection-rest
    spec:
      containers:
      - name: object-detection-rest
        image: quay.io/redhatintegration/object-detection:latest
        resources:
          requests:
            memory: "2200Mi"
            cpu: "500m"
          limits:
            memory: "3000Mi"
            cpu: "1000m"
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: object-detection-rest
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: object-detection-rest
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: object-detection-rest
spec:
  port:
    targetPort: 8080 
  to:
    kind: Service
    name: object-detection-rest
  tls:
    termination: edge
...